// Export scss variables
// https://miguel.nz/blog/how-to-share-variables-between-scss-and-javascript/
:export {
  font_size_text_primary: $font-size-text-primary;
  height_player: $height-player;
  gutter_4x: $gutter-4x;
  duration_slow: $duration-slow;
  color_bg_2: $color-bg-2;
}
