// Global base CSS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  // Inherit 'box-sizing: border-box;'
  box-sizing: inherit;
  font-family: inherit;
  line-height: 1;
}

html {
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input {
  font-family: inherit;
  border: none;
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}
