// SCSS mixins

// https://sass-lang.com/documentation/breaking-changes/mixed-decls/
@mixin clickAnimation {
  & {
    &:hover {
      transform: scale(1.04);
    }

    &:active {
      transform: scale(1);
      opacity: 0.8;
    }
  }
}

@mixin transition {
  & {
    transition: all 0.22s ease-in;
  }
}

@mixin transitionSlow {
  & {
    transition: all 0.5s ease-in;
  }
}

@mixin oneLineEllipsis {
  & {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@mixin twoLineEllipsis {
  & {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@mixin titleStyles {
  & {
    font-size: $font-size-title-primary;
    color: $color-font-primary;
    font-family: $font-family-title;
    font-weight: 700;
  }
}

// MEDIA QUERY MANAGER

/*
0 - 600px:      Phone
600 - 768px:    Tablet portrait
768 - 1024px:   Tablet landscape
1024 - 1440px:  Default
1440 + :        Big desktop
*/

// reference: https://gs.statcounter.com/screen-resolution-stats

@mixin respond($breackpoint) {
  @if $breackpoint == phone {
    & {
      @media only screen and (max-width: 600px) {
        // <= 600px
        @content;
      }
    }
  }

  @if $breackpoint == tab-port {
    & {
      @media only screen and (max-width: 768px) {
        // <= 768px
        @content;
      }
    }
  }

  @if $breackpoint == tab-land {
    & {
      @media only screen and (max-width: 1024px) {
        // <= 1024px
        @content;
      }
    }
  }

  @if $breackpoint == desktop {
    & {
      @media only screen and (min-width: 1440px) {
        // >= 1440px
        @content;
      }
    }
  }
}

// https://sass-lang.com/documentation/at-rules/mixin/#keyword-arguments
@mixin gridCards() {
  & {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @include respond(desktop) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  @include respond(tab-land) {
    & {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  @include respond(phone) {
    & {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@mixin gridCardsLess() {
  & {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));

    @include respond(tab-land) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include respond(phone) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@mixin gridCardsExtraLess() {
  & {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @include respond(tab-land) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}