// SCSS mixins

@mixin clickAnimation {
  &:hover {
    transform: scale(1.04);
  }

  &:active {
    transform: scale(1);
    opacity: 0.8;
  }
}

@mixin transition {
  transition: all 0.22s ease-in;
}

@mixin transitionSlow {
  transition: all 0.5s ease-in;
}

@mixin oneLineEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin twoLineEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin titleStyles {
  font-size: 2.4rem;
  color: $color-font-primary;
  font-family: $font-family-title;
  font-weight: 700;
}
