.fade-slide-from-top {
  &-enter-active,
  &-leave-active {
    transition: all $duration-default ease;
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(-1.6rem);
    opacity: 0;
  }
}

.fade-slide-from-bottom {
  &-enter-active,
  &-leave-active {
    transition: all $duration-slow ease;
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(1.6rem);
    opacity: 0;
  }
}

.slide-from-bottom {
  &-enter-active,
  &-leave-active {
    transition: all $duration-slow ease;
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(100vh);
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: all $duration-default ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
