.fade-slide-from-top {
  &-enter-active,
  &-leave-active {
    transition: all $duration-default ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(-1.6rem);
    opacity: 0;
  }
}

.fade-slide-from-bottom {
  &-enter-active,
  &-leave-active {
    transition: all $duration-slow ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(1.6rem);
    opacity: 0;
  }
}

.slide-from-bottom {
  &-enter-active,
  &-leave-active {
    transition: all $duration-slow ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(100vh);
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity $duration-default ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.list {
  &-move,
  &-enter-active,
  &-leave-active {
    transition: all $duration-default ease-in-out;
  }

  &-leave-active {
    position: absolute;
    width: 100%;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: scale(0.1);
  }
}

.list-fade {
  &-move,
  &-enter-active,
  &-leave-active {
    transition: all $duration-default ease-in-out;
    width: 100%;
  }

  &-leave-active {
    position: absolute;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
