// SCSS variables

// COLOR
$color-font-primary: #ffffff;
$color-font-secondary: #b3b3b3;
$color-brand: #1db954;
$color-bg-1: #000000;
$color-bg-2: #121212;
$color-bg-3: #1f1f1f;
$color-bg-4: #282828;
$color-bg-5: #2a2a2a;
$color-bg-6: #3e3e3e;
$color-bg-7: #7f7f7f;

// FONT
$font-family-title: 'SpotifyMixUITitle', sans-serif;
$font-family-text: 'SpotifyMixUI', sans-serif;

// PADDING OR MARGIN
$gutter: 0.8rem;

// HEIGHT
$height-player: 7.2rem;
$height-nav: 4.8rem;
$height-nav-secondary: 5.6rem;
$height-content: calc(100vh - $height-player - $height-nav - 4 * $gutter);

// BORDER
$border-radius-default: 0.8rem;
$border-radius-small: 0.4rem;
