// SCSS variables

// COLOR
$font-color: #fff;
$font-color-light: #b3b3b3;
$font-color-active: #1db954;
$bg-main-color: #000;
$bg-main-color-light: #121212;
$bg-nav-color: #1f1f1f;
$bg-input-hover-color: #2a2a2a;

// FONT
$default-font-size: 1.6rem;

// HEIGHT
$player-height: 7.2rem;
$nav-height: 4.8rem;

// PADDING OR MARGIN
$gutter: 8px;

// BORDER
$panel-border-radius: 0.8rem;
