// SCSS variables

// COLOR
$color-font-primary: #ffffff;
$color-font-secondary: #b3b3b3;
$color-brand: #1db954;
$color-bg-1: #000000;
$color-bg-2: #121212;
$color-bg-3: #1f1f1f;
$color-bg-4: #282828;
$color-bg-5: #2a2a2a;
$color-bg-6: #3e3e3e;
$color-bg-7: #7f7f7f;
$color-warn: #e22134;

// FONT
$font-family-title: 'SpotifyMixUITitle', sans-serif;
$font-family-text: 'SpotifyMixUI', sans-serif;
$font-size-title-primary: 2.4rem;
$font-size-title-large: 8rem;
$font-size-text-primary: 1.6rem;
$font-size-text-secondary: 1.4rem;
$font-size-text-tertiary: 1.2rem;

// PADDING OR MARGIN
$gutter: 0.8rem;
$gutter-1-5x: calc(1.5 * $gutter);
$gutter-2x: calc(2 * $gutter);
$gutter-3x: calc(3 * $gutter);
$gutter-4x: calc(4 * $gutter);

// HEIGHT
$min-height-app: 600px;
$height-player: 7.2rem;
$height-nav: 4.8rem;
$height-content: calc(max(100vh, $min-height-app) - $height-player - $height-nav - 4 * $gutter);

// BORDER
$border-radius-default: 0.8rem;
$border-radius-small: 0.4rem;

// WIDTH
$max-width-main-view: 192rem;
$min-width-app: 800px;

// DURATION
$duration-default: 0.3s;
$duration-slow: 0.6s;
$duration-fast: 0.15s;
