// Export scss variables
// https://miguel.nz/blog/how-to-share-variables-between-scss-and-javascript/
:export {
  color_bg_1: $color-bg-1;
  color_font_primary: $color-font-primary;
  font_size_text_primary: $font-size-text-primary;
  height_player: $height-player;
  gutter: $gutter;
  gutter_2x: $gutter-2x;
  duration_slow: $duration-slow;
}
